/*
* ConfirmationModal.css
*/
#confirmation-modal {
    --w: 30rem;
    --h: calc(var(--w) / 2);
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: var(--w);
    height: var(--h);
    top: calc(50vh - var(--h) / 2);
    left: calc(50vw - var(--w) / 2);
    display: grid;
    grid-template-rows: 3rem 1fr 2rem;
}

#confirmation-title {
    font-weight: bold;
    margin-left: 0.5rem;
}

#confirmation-message {
    overflow: hidden;
    margin-left: 0.5rem;
}

#confirmation-options {
    display: flex;
    margin-right: 0.5rem;
    flex-direction: row-reverse;
    gap: 0.4rem;
}

#confirmation-options > button {
    border: none;
    background-color: #00000000;
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--palette-c);
}

#confirmation-options > button:hover {
    color: var(--palette-a);
}