<link rel="stylesheet" href="components/ConfirmationModal/ConfirmationModal.css">
<template>
    <modal-component>
        <p id='confirmation-title' slot="modal-content">Please Confirm</p>
        <p id='confirmation-message' slot="modal-content">Are you sure?</p>
        <div id='confirmation-options' slot="modal-content">
            <button id="option-a" part="option-a">Yes</button>
            <button id="option-b" part="option-b">No</button>
        </div>
    </modal-component>
</template>