#category-view {
    display: grid;
    grid-template-rows: 2rem 1fr;
    background-color: var(--color-cv);
    height: 100%;
}

#category-view-menu {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 0.2rem;
    padding: 0.2rem 0.2rem;
    background-color: var(--color-cv-menu);
}

#category-view-grid {
    display: grid;
    padding: 0.4rem 0.2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 5rem;
    row-gap: 0.4rem;
}

#category-view-grid > .delete-category-selected {
    border: 0.15rem solid red;
}

#category-view-menu > button, #category-view-grid > button {
    border-radius: 0.5rem;
    color: white;
    background-color: #00000011;
    border-top: 0.1rem solid var(--palette-e);
    border-right: 0.1rem solid var(--palette-a);
    border-bottom: 0.1rem solid var(--palette-a);
    border-left: 0.1rem solid var(--palette-e);
}

#category-view-menu > button:hover, #category-view-grid > button:hover {
    background-color: #00000055;
    border-top: 0.1rem solid var(--palette-d);
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    border-left: 0.1rem solid var(--palette-d);
}
